<div id="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>AnimalRaza LIST {{salidaTest}}</h3>
	                </div>
	            </div>
	            <div class="card-header">
	                <div>
	                    <animal-raza-form-modal></animal-raza-form-modal>
	                </div>
	            </div>
	            <div *ngIf="openGenericSearch">
	                <generic-search
	                    [fieldList]='fieldList'
	                    (queryParamList)="onSearchEdit($event)">
	                </generic-search>
	            </div>
	            <div class="card-body">
	                <div class="col-xs-12 col-md-12">
	                    <div class="panel-body">
	                        <sa-datatable *ngIf="animalRazaList" paginationLength="true" tableClass="table table-striped table-bordered table-hover" 
								[options]="{
									columnDefs: [
										{ responsivePriority: 1, targets: 0 },
										{ responsivePriority: 2, targets: -1 }
									]}" width="100%">
	                            <thead>
	                                <tr>
	                                	<th data-class="expand">{{ metadata.idAnimal.label }}</th>
	                                	<th data-class="expand">{{ metadata.codigoRaza.label }}</th>
	                                	<th data-class="expand">{{ metadata.idHacienda.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.porcentajeRaza.label }}</th>
	                                    <th data-hide="phone,tablet">Acciones</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let animalRaza of animalRazaList" (click)="onSelectedAnimalRaza(animalRaza)">
	                            		<td>{{animalRaza.animalRazaPK.idAnimal}}</td>	
	                            		<td>{{animalRaza.animalRazaPK.codigoRaza}}</td>	
	                            		<td>{{animalRaza.animalRazaPK.idHacienda}}</td>	
	                                	<td>{{animalRaza.idAnimal}}</td>
	                                    <td>{{animalRaza.porcentajeRaza}}</td>
	                                    <td>
	                                        <animal-raza-form-modal  [animalRaza]='animalRaza'></animal-raza-form-modal>

	                                        <confirmation-modal *ngIf='modalDeleteMessage' 
	                                                            [msg]='modalDeleteMessage' 
	                                                            [data]='animalRaza'
	                                                            (resp)="getConfirmationResponse($event);">
	                                        </confirmation-modal>
										</td> 
	                                </tr>
	                            </tbody>
	                        </sa-datatable>
	                        
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

