<div id="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>CargaPotrero LIST {{salidaTest}}</h3>
	                </div>
	            </div>
	            <div class="card-header">
	                <div>
	                    <carga-potrero-form-modal></carga-potrero-form-modal>
	                </div>
	            </div>
	            <div *ngIf="openGenericSearch">
	                <generic-search
	                    [fieldList]='fieldList'
	                    (queryParamList)="onSearchEdit($event)">
	                </generic-search>
	            </div>
	            <div class="card-body">
	                <div class="col-xs-12 col-md-12">
	                    <div class="panel-body">
	                        <sa-datatable *ngIf="cargaPotreroList" paginationLength="true" tableClass="table table-striped table-bordered table-hover" 
								[options]="{
									columnDefs: [
										{ responsivePriority: 1, targets: 0 },
										{ responsivePriority: 2, targets: -1 }
									]}" width="100%">
	                            <thead>
	                                <tr>
	                                	<th data-class="expand">{{ metadata.idHacienda.label }}</th>
	                                	<th data-class="expand">{{ metadata.idLote.label }}</th>
	                                	<th data-class="expand">{{ metadata.idPotrero.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.fechaInicio.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.fechaFin.label }}</th>
	                                    <th data-hide="phone,tablet">Acciones</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let cargaPotrero of cargaPotreroList" (click)="onSelectedCargaPotrero(cargaPotrero)">
	                            		<td>{{cargaPotrero.cargaPotreroPK.idHacienda}}</td>	
	                            		<td>{{cargaPotrero.cargaPotreroPK.idLote}}</td>	
	                            		<td>{{cargaPotrero.cargaPotreroPK.idPotrero}}</td>	
	                                	<td>{{cargaPotrero.idHacienda}}</td>
	                                    <td>{{cargaPotrero.fechaInicio}}</td>
	                                    <td>{{cargaPotrero.fechaFin}}</td>
	                                    <td>
	                                        <carga-potrero-form-modal  [cargaPotrero]='cargaPotrero'></carga-potrero-form-modal>

	                                        <confirmation-modal *ngIf='modalDeleteMessage' 
	                                                            [msg]='modalDeleteMessage' 
	                                                            [data]='cargaPotrero'
	                                                            (resp)="getConfirmationResponse($event);">
	                                        </confirmation-modal>
										</td> 
	                                </tr>
	                            </tbody>
	                        </sa-datatable>
	                        
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

