<div id="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>Diagnostico LIST {{salidaTest}}</h3>
	                </div>
	            </div>
	            <div class="card-header">
	                <div>
	                    <diagnostico-form-modal></diagnostico-form-modal>
	                </div>
	            </div>
	            <div *ngIf="openGenericSearch">
	                <generic-search
	                    [fieldList]='fieldList'
	                    (queryParamList)="onSearchEdit($event)">
	                </generic-search>
	            </div>
	            <div class="card-body">
	                <div class="col-xs-12 col-md-12">
	                    <div class="panel-body">
	                        <sa-datatable *ngIf="diagnosticoList" paginationLength="true" tableClass="table table-striped table-bordered table-hover" 
								[options]="{
									columnDefs: [
										{ responsivePriority: 1, targets: 0 },
										{ responsivePriority: 2, targets: -1 }
									]}" width="100%">
	                            <thead>
	                                <tr>
	                                	<th data-class="expand">{{ metadata.idEnfermedad.label }}</th>
	                                	<th data-class="expand">{{ metadata.eventoSanidad.label }}</th>
	                                	<th data-class="expand">{{ metadata.fechaConsulta.label }}</th>
	                                	<th data-class="expand">{{ metadata.idAnimal.label }}</th>
	                                    <th data-hide="phone,tablet">Acciones</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let diagnostico of diagnosticoList" (click)="onSelectedDiagnostico(diagnostico)">
	                            		<td>{{diagnostico.diagnosticoPK.idEnfermedad}}</td>	
	                            		<td>{{diagnostico.diagnosticoPK.eventoSanidad}}</td>	
	                            		<td>{{diagnostico.diagnosticoPK.fechaConsulta}}</td>	
	                            		<td>{{diagnostico.diagnosticoPK.idAnimal}}</td>	
	                                	<td>{{diagnostico.idEnfermedad}}</td>
	                                    <td>
	                                        <diagnostico-form-modal  [diagnostico]='diagnostico'></diagnostico-form-modal>

	                                        <confirmation-modal *ngIf='modalDeleteMessage' 
	                                                            [msg]='modalDeleteMessage' 
	                                                            [data]='diagnostico'
	                                                            (resp)="getConfirmationResponse($event);">
	                                        </confirmation-modal>
										</td> 
	                                </tr>
	                            </tbody>
	                        </sa-datatable>
	                        
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

