<div id="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>EventoSanidad LIST {{salidaTest}}</h3>
	                </div>
	            </div>
	            <div class="card-header">
	                <div>
	                    <button type="button" class="btn btn-primary btn-lg" (click)= "advancedSearch()">
	                        <span class="icon glyphicon glyphicon-search"></span><span class="title"> Advanced search</span>
	                    </button>
	                    <evento-sanidad-form-modal></evento-sanidad-form-modal>
	                </div>
	            </div>
	            <div *ngIf="openGenericSearch">
	                <generic-search
	                    [fieldList]='fieldList'
	                    (queryParamList)="onSearchEdit($event)">
	                </generic-search>
	            </div>
	            <div class="card-body">
	                <div class="col-xs-12 col-md-12">
	                    <div class="panel-body">
	                        <sa-datatable *ngIf="eventoSanidadList" paginationLength="true" tableClass="table table-striped table-bordered table-hover" 
								[options]="{
									columnDefs: [
										{ responsivePriority: 1, targets: 0 },
										{ responsivePriority: 2, targets: -1 }
									]}" width="100%">
	                            <thead>
	                                <tr>
	                                	<th data-class="expand">{{ metadata.idAnimal.label }}</th>
	                                	<th data-class="expand">{{ metadata.eventoSanidad.label }}</th>
	                                	<th data-class="expand">{{ metadata.fechaConsulta.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.tipoDocumentoVet.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.numDocumentoVet.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.motivoConsulta.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.diagnostico.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.tratamiento.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.edad.label }}</th>
	                                    <th data-hide="phone,tablet">Acciones</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let eventoSanidad of eventoSanidadList" (click)="onSelectedEventoSanidad(eventoSanidad)">
	                            		<td>{{eventoSanidad.eventoSanidadPK.idAnimal}}</td>	
	                            		<td>{{eventoSanidad.eventoSanidadPK.eventoSanidad}}</td>	
	                            		<td>{{eventoSanidad.eventoSanidadPK.fechaConsulta}}</td>	
	                                	<td>{{eventoSanidad.idAnimal}}</td>
	                                    <td>{{eventoSanidad.tipoDocumentoVet}}</td>
	                                    <td>{{eventoSanidad.numDocumentoVet}}</td>
	                                    <td>{{eventoSanidad.motivoConsulta}}</td>
	                                    <td>{{eventoSanidad.diagnostico}}</td>
	                                    <td>{{eventoSanidad.tratamiento}}</td>
	                                    <td>{{eventoSanidad.edad}}</td>
	                                    <td>
	                                        <evento-sanidad-form-modal  [eventoSanidad]='eventoSanidad'></evento-sanidad-form-modal>

	                                        <confirmation-modal *ngIf='modalDeleteMessage' 
	                                                            [msg]='modalDeleteMessage' 
	                                                            [data]='eventoSanidad'
	                                                            (resp)="getConfirmationResponse($event);">
	                                        </confirmation-modal>
										</td> 
	                                </tr>
	                            </tbody>
	                        </sa-datatable>
	                        
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

<sa-widget [hidden]='!selectedEventoSanidad' [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false">
	<header role="heading">
		<h2 class="hidden-xs hidden-sm">EventoSanidad Hijos</h2>
	</header>
	
	<div role="content" class="tabbed-widget-content">
		<div class="widget-body">
			<tabset type="tabs pull-right">
				<tab active="true">
					<ng-template tabHeading>
						<span class="hidden-mobile hidden-tablet">Diagnostico</span>
					</ng-template>
					<diagnostico-list [eventoSanidad]="selectedEventoSanidad" ></diagnostico-list>
				</tab>
				<tab active="true">
					<ng-template tabHeading>
						<span class="hidden-mobile hidden-tablet">Tratamiento</span>
					</ng-template>
					<tratamiento-list [eventoSanidad]="selectedEventoSanidad" ></tratamiento-list>
				</tab>
			</tabset>
		</div>
	</div>
</sa-widget>
