<div id="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>Lote LIST {{salidaTest}}</h3>
	                </div>
	            </div>
	            <div class="card-header">
	                <div>
	                    <button type="button" class="btn btn-primary btn-lg" (click)= "advancedSearch()">
	                        <span class="icon glyphicon glyphicon-search"></span><span class="title"> Advanced search</span>
	                    </button>
	                    <lote-form-modal></lote-form-modal>
	                </div>
	            </div>
	            <div *ngIf="openGenericSearch">
	                <generic-search
	                    [fieldList]='fieldList'
	                    (queryParamList)="onSearchEdit($event)">
	                </generic-search>
	            </div>
	            <div class="card-body">
	                <div class="col-xs-12 col-md-12">
	                    <div class="panel-body">
	                        <sa-datatable *ngIf="loteList" paginationLength="true" tableClass="table table-striped table-bordered table-hover" 
								[options]="{
									columnDefs: [
										{ responsivePriority: 1, targets: 0 },
										{ responsivePriority: 2, targets: -1 }
									]}" width="100%">
	                            <thead>
	                                <tr>
	                                	<th data-class="expand">{{ metadata.idLote.label }}</th>
	                                	<th data-class="expand">{{ metadata.idHacienda.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.nombreLote.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.estadoLote.label }}</th>
	                                    <th data-hide="phone,tablet">Acciones</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let lote of loteList" (click)="onSelectedLote(lote)">
	                            		<td>{{lote.lotePK.idLote}}</td>	
	                            		<td>{{lote.lotePK.idHacienda}}</td>	
	                                	<td>{{lote.idLote}}</td>
	                                    <td>{{lote.nombreLote}}</td>
	                                    <td>{{lote.estadoLote}}</td>
	                                    <td>
	                                        <lote-form-modal  [lote]='lote'></lote-form-modal>

	                                        <confirmation-modal *ngIf='modalDeleteMessage' 
	                                                            [msg]='modalDeleteMessage' 
	                                                            [data]='lote'
	                                                            (resp)="getConfirmationResponse($event);">
	                                        </confirmation-modal>
										</td> 
	                                </tr>
	                            </tbody>
	                        </sa-datatable>
	                        
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

<sa-widget [hidden]='!selectedLote' [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false">
	<header role="heading">
		<h2 class="hidden-xs hidden-sm">Lote Hijos</h2>
	</header>
	
	<div role="content" class="tabbed-widget-content">
		<div class="widget-body">
			<tabset type="tabs pull-right">
				<tab active="true">
					<ng-template tabHeading>
						<span class="hidden-mobile hidden-tablet">Animal</span>
					</ng-template>
					<animal-list [lote]="selectedLote" ></animal-list>
				</tab>
			</tabset>
		</div>
	</div>
</sa-widget>
