<div id="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>Aforo LIST {{salidaTest}}</h3>
	                </div>
	            </div>
	            <div class="card-header">
	                <div>
	                    <button type="button" class="btn btn-primary btn-lg" (click)= "advancedSearch()">
	                        <span class="icon glyphicon glyphicon-search"></span><span class="title"> Advanced search</span>
	                    </button>
	                    <aforo-form-modal></aforo-form-modal>
	                </div>
	            </div>
	            <div *ngIf="openGenericSearch">
	                <generic-search
	                    [fieldList]='fieldList'
	                    (queryParamList)="onSearchEdit($event)">
	                </generic-search>
	            </div>
	            <div class="card-body">
	                <div class="col-xs-12 col-md-12">
	                    <div class="panel-body">
	                        <sa-datatable *ngIf="aforoList" paginationLength="true" tableClass="table table-striped table-bordered table-hover" 
								[options]="{
									columnDefs: [
										{ responsivePriority: 1, targets: 0 },
										{ responsivePriority: 2, targets: -1 }
									]}" width="100%">
	                            <thead>
	                                <tr>
	                                	<th data-class="expand">{{ metadata.idAforo.label }}</th>
	                                	<th data-class="expand">{{ metadata.idPotrero.label }}</th>
	                                	<th data-class="expand">{{ metadata.idHacienda.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.momentoAforo.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.fechaAforo.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.valorTotal.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.promedioPonderado.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.observaciones.label }}</th>
	                                    <th data-hide="phone,tablet">Acciones</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let aforo of aforoList" (click)="onSelectedAforo(aforo)">
	                            		<td>{{aforo.aforoPK.idAforo}}</td>	
	                            		<td>{{aforo.aforoPK.idPotrero}}</td>	
	                            		<td>{{aforo.aforoPK.idHacienda}}</td>	
	                                	<td>{{aforo.idAforo}}</td>
	                                    <td>{{aforo.momentoAforo}}</td>
	                                    <td>{{aforo.fechaAforo}}</td>
	                                    <td>{{aforo.valorTotal}}</td>
	                                    <td>{{aforo.promedioPonderado}}</td>
	                                    <td>{{aforo.observaciones}}</td>
	                                    <td>
	                                        <aforo-form-modal  [aforo]='aforo'></aforo-form-modal>

	                                        <confirmation-modal *ngIf='modalDeleteMessage' 
	                                                            [msg]='modalDeleteMessage' 
	                                                            [data]='aforo'
	                                                            (resp)="getConfirmationResponse($event);">
	                                        </confirmation-modal>
										</td> 
	                                </tr>
	                            </tbody>
	                        </sa-datatable>
	                        
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

<sa-widget [hidden]='!selectedAforo' [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false">
	<header role="heading">
		<h2 class="hidden-xs hidden-sm">Aforo Hijos</h2>
	</header>
	
	<div role="content" class="tabbed-widget-content">
		<div class="widget-body">
			<tabset type="tabs pull-right">
				<tab active="true">
					<ng-template tabHeading>
						<span class="hidden-mobile hidden-tablet">DetalleAforo</span>
					</ng-template>
					<detalle-aforo-list [aforo]="selectedAforo" ></detalle-aforo-list>
				</tab>
			</tabset>
		</div>
	</div>
</sa-widget>
