<div id="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>InsumoPotrero LIST {{salidaTest}}</h3>
	                </div>
	            </div>
	            <div class="card-header">
	                <div>
	                    <button type="button" class="btn btn-primary btn-lg" (click)= "advancedSearch()">
	                        <span class="icon glyphicon glyphicon-search"></span><span class="title"> Advanced search</span>
	                    </button>
	                    <insumo-potrero-form-modal></insumo-potrero-form-modal>
	                </div>
	            </div>
	            <div *ngIf="openGenericSearch">
	                <generic-search
	                    [fieldList]='fieldList'
	                    (queryParamList)="onSearchEdit($event)">
	                </generic-search>
	            </div>
	            <div class="card-body">
	                <div class="col-xs-12 col-md-12">
	                    <div class="panel-body">
	                        <sa-datatable *ngIf="insumoPotreroList" paginationLength="true" tableClass="table table-striped table-bordered table-hover" 
								[options]="{
									columnDefs: [
										{ responsivePriority: 1, targets: 0 },
										{ responsivePriority: 2, targets: -1 }
									]}" width="100%">
	                            <thead>
	                                <tr>
	                                	<th data-class="expand">{{ metadata.idInsumo.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.nombreInsumo.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.descripcionInsumo.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.estado.label }}</th>
	                                    <th data-hide="phone,tablet">Acciones</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let insumoPotrero of insumoPotreroList" (click)="onSelectedInsumoPotrero(insumoPotrero)">
	                                	<td>{{insumoPotrero.idInsumo}}</td>
	                                    <td>{{insumoPotrero.nombreInsumo}}</td>
	                                    <td>{{insumoPotrero.descripcionInsumo}}</td>
	                                    <td>{{insumoPotrero.estado}}</td>
	                                    <td>
	                                        <insumo-potrero-form-modal  [insumoPotrero]='insumoPotrero'></insumo-potrero-form-modal>

	                                        <confirmation-modal *ngIf='modalDeleteMessage' 
	                                                            [msg]='modalDeleteMessage' 
	                                                            [data]='insumoPotrero'
	                                                            (resp)="getConfirmationResponse($event);">
	                                        </confirmation-modal>
										</td> 
	                                </tr>
	                            </tbody>
	                        </sa-datatable>
	                        
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

