<div id="content">
	<div class="row">
	    <div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>PresentacionDosis FORM</h3>
	                </div>
	            </div>
	            <div class="card-body">
	               <div>
	                   <div class="panel-body">
	                       <div><!--<div [hidden]="submitted">-->
	                               <form #presentacionDosisForm="ngForm"  *ngIf="active"><!-- (ngSubmit)="onSubmit()"-->
	                                		<div class="form-group" class="col-md-6">
		                                        <label for="idMedicamento">{{metadata.idMedicamento.label}}</label>
			
		                                        <input type="number" id="idMedicamento" class="form-control"
required		                                               name="idMedicamento" [(ngModel)]="presentacionDosis.presentacionDosisPK.idMedicamento" >
			
		                                        <div *ngIf="formErrors.idMedicamento" class="alert alert-danger">
		                                               {{ formErrors.idMedicamento }}
		                                        </div>
	                                    	</div>
	                                		<div class="form-group" class="col-md-6">
		                                        <label for="idPresentacion">{{metadata.idPresentacion.label}}</label>
			
		                                        <input type="number" id="idPresentacion" class="form-control"
required		                                               name="idPresentacion" [(ngModel)]="presentacionDosis.presentacionDosisPK.idPresentacion" >
			
		                                        <div *ngIf="formErrors.idPresentacion" class="alert alert-danger">
		                                               {{ formErrors.idPresentacion }}
		                                        </div>
	                                    	</div>
	                                	
	                             		<div class="form-group" class="col-md-6">
		                                    <label for="descripcion">{{metadata.descripcion.label}}</label>
                                 			<input type="string" id="descripcion" class="form-control"
required		                                       name="descripcion" [(ngModel)]="presentacionDosis.descripcion" >
		                                    <div *ngIf="formErrors.descripcion" class="alert alert-danger">
		                                           {{ formErrors.descripcion }}
		                                    </div>
	                                	</div>
	                            
	                            
	                                
	                                <div class="col-md-12">
	                                    <br>
	                                    
	                                     <confirmation-modal [msg]='modalMessage' (resp)="getConfirmationResponse($event);"></confirmation-modal>
	                                    <br>
	                                </div>
	                            </form>
	                       </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>