<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>

    <ul saSmartMenu>
      <li>
        <a title="chequeoMastitis"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'chequeoMastitis' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/chequeo-mastitis/base">{{'Chequeo Mastitis'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="dominio"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'dominio' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/dominio/base">{{'Dominio'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="enfermedad"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'enfermedad' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/enfermedad/base">{{'Enfermedad'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="hacienda"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'hacienda' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/hacienda/base">{{'Hacienda'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="lluvia"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'lluvia' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/lluvia/base">{{'Lluvia'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="pajilla"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'pajilla' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/pajilla/base">{{'Pajilla'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="produccionLeche"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'produccionLeche' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/produccionleche/base">{{'ProduccionLeche'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="rol"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'rol' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/rol/base">{{'Rol'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="tipoMedio"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'tipoMedio' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tipo-medio/base">{{'Tipo Medio'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="insumoPotrero"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'insumoPotrero' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/insumopotrero/base">{{'InsumoPotrero'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="gananciaPeso"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'gananciaPeso' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/gananciapeso/base">{{'GananciaPeso'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="medicamento"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'medicamento' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/medicamento/base">{{'Medicamento'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="raza"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'raza' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/raza/base">{{'Raza'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="historiaClinica"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'historiaClinica' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/historiaclinica/base">{{'HistoriaClinica'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="gestionPersona"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'gestionPersona' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/gestionpersona/base">{{'GestionPersona'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="gestionLote"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'gestionLote' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/gestionlote/base">{{'GestionLote'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="gestionPotrero"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'gestionPotrero' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/gestionpotrero/base">{{'GestionPotrero'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="gestionAnimal"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'gestionAnimal' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/gestionanimal/base">{{'GestionAnimal'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="reproduccion"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'reproduccion' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/reproduccion/base">{{'Reproduccion'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="cargaPotrero"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'cargaPotrero' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/cargapotrero/base">{{'CargaPotrero'| i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="aforo"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
          class="menu-item-parent">{{'aforo' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/aforo/base">{{'Aforo'| i18n}}</a>
          </li>
        </ul>
      </li>
 
      

    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
