<div id="content">
	<div class="row">
	    <div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>Medio FORM</h3>
	                </div>
	            </div>
	            <div class="card-body">
	               <div>
	                   <div class="panel-body">
	                       <div><!--<div [hidden]="submitted">-->
	                               <form #medioForm="ngForm"  *ngIf="active"><!-- (ngSubmit)="onSubmit()"-->
	                                		<div class="form-group" class="col-md-6">
		                                        <label for="tipoDocumento">{{metadata.tipoDocumento.label}}</label>
			
		                                        <input type="string" id="tipoDocumento" class="form-control"
required		                                               name="tipoDocumento" [(ngModel)]="medio.medioPK.tipoDocumento" >
			
		                                        <div *ngIf="formErrors.tipoDocumento" class="alert alert-danger">
		                                               {{ formErrors.tipoDocumento }}
		                                        </div>
	                                    	</div>
	                                		<div class="form-group" class="col-md-6">
		                                        <label for="numDocumento">{{metadata.numDocumento.label}}</label>
			
		                                        <input type="string" id="numDocumento" class="form-control"
required		                                               name="numDocumento" [(ngModel)]="medio.medioPK.numDocumento" >
			
		                                        <div *ngIf="formErrors.numDocumento" class="alert alert-danger">
		                                               {{ formErrors.numDocumento }}
		                                        </div>
	                                    	</div>
	                                		<div class="form-group" class="col-md-6">
		                                        <label for="idMedio">{{metadata.idMedio.label}}</label>
			
		                                        <input type="number" id="idMedio" class="form-control"
required		                                               name="idMedio" [(ngModel)]="medio.medioPK.idMedio" >
			
		                                        <div *ngIf="formErrors.idMedio" class="alert alert-danger">
		                                               {{ formErrors.idMedio }}
		                                        </div>
	                                    	</div>
	                                	
	                             		<div class="form-group" class="col-md-6">
		                                    <label for="medio">{{metadata.medio.label}}</label>
                                 			<input type="string" id="medio" class="form-control"
required		                                       name="medio" [(ngModel)]="medio.medio" >
		                                    <div *ngIf="formErrors.medio" class="alert alert-danger">
		                                           {{ formErrors.medio }}
		                                    </div>
	                                	</div>
	                            
	                            
	                                
	                                <div class="col-md-12">
	                                    <br>
	                                    
	                                     <confirmation-modal [msg]='modalMessage' (resp)="getConfirmationResponse($event);"></confirmation-modal>
	                                    <br>
	                                </div>
	                            </form>
	                       </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>