<div id="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>Persona LIST {{salidaTest}}</h3>
	                </div>
	            </div>
	            <div class="card-header">
	                <div>
	                    <button type="button" class="btn btn-primary btn-lg" (click)= "advancedSearch()">
	                        <span class="icon glyphicon glyphicon-search"></span><span class="title"> Advanced search</span>
	                    </button>
	                    <persona-form-modal></persona-form-modal>
	                </div>
	            </div>
	            <div *ngIf="openGenericSearch">
	                <generic-search
	                    [fieldList]='fieldList'
	                    (queryParamList)="onSearchEdit($event)">
	                </generic-search>
	            </div>
	            <div class="card-body">
	                <div class="col-xs-12 col-md-12">
	                    <div class="panel-body">
	                        <sa-datatable *ngIf="personaList" paginationLength="true" tableClass="table table-striped table-bordered table-hover" 
								[options]="{
									columnDefs: [
										{ responsivePriority: 1, targets: 0 },
										{ responsivePriority: 2, targets: -1 }
									]}" width="100%">
	                            <thead>
	                                <tr>
	                                	<th data-class="expand">{{ metadata.tipoDocumento.label }}</th>
	                                	<th data-class="expand">{{ metadata.numDocumento.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.nombres.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.apellidos.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.fechaNacimiento.label }}</th>
	                                    <th data-hide="phone,tablet">Acciones</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let persona of personaList" (click)="onSelectedPersona(persona)">
	                            		<td>{{persona.personaPK.tipoDocumento}}</td>	
	                            		<td>{{persona.personaPK.numDocumento}}</td>	
	                                	<td>{{persona.tipoDocumento}}</td>
	                                    <td>{{persona.nombres}}</td>
	                                    <td>{{persona.apellidos}}</td>
	                                    <td>{{persona.fechaNacimiento}}</td>
	                                    <td>
	                                        <persona-form-modal  [persona]='persona'></persona-form-modal>

	                                        <confirmation-modal *ngIf='modalDeleteMessage' 
	                                                            [msg]='modalDeleteMessage' 
	                                                            [data]='persona'
	                                                            (resp)="getConfirmationResponse($event);">
	                                        </confirmation-modal>
										</td> 
	                                </tr>
	                            </tbody>
	                        </sa-datatable>
	                        
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

<sa-widget [hidden]='!selectedPersona' [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false">
	<header role="heading">
		<h2 class="hidden-xs hidden-sm">Persona Hijos</h2>
	</header>
	
	<div role="content" class="tabbed-widget-content">
		<div class="widget-body">
			<tabset type="tabs pull-right">
				<tab active="true">
					<ng-template tabHeading>
						<span class="hidden-mobile hidden-tablet">Medio</span>
					</ng-template>
					<medio-list [persona]="selectedPersona" ></medio-list>
				</tab>
				<tab active="true">
					<ng-template tabHeading>
						<span class="hidden-mobile hidden-tablet">RolAdministrativo</span>
					</ng-template>
					<rol-administrativo-list [persona]="selectedPersona" ></rol-administrativo-list>
				</tab>
			</tabset>
		</div>
	</div>
</sa-widget>
