<div id="content">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title">
	                    <h3>Produccion LIST {{salidaTest}}</h3>
	                </div>
	            </div>
	            <div class="card-header">
	                <div>
	                    <button type="button" class="btn btn-primary btn-lg" (click)= "advancedSearch()">
	                        <span class="icon glyphicon glyphicon-search"></span><span class="title"> Advanced search</span>
	                    </button>
	                    <produccion-form-modal></produccion-form-modal>
	                </div>
	            </div>
	            <div *ngIf="openGenericSearch">
	                <generic-search
	                    [fieldList]='fieldList'
	                    (queryParamList)="onSearchEdit($event)">
	                </generic-search>
	            </div>
	            <div class="card-body">
	                <div class="col-xs-12 col-md-12">
	                    <div class="panel-body">
	                        <sa-datatable *ngIf="produccionList" paginationLength="true" tableClass="table table-striped table-bordered table-hover" 
								[options]="{
									columnDefs: [
										{ responsivePriority: 1, targets: 0 },
										{ responsivePriority: 2, targets: -1 }
									]}" width="100%">
	                            <thead>
	                                <tr>
	                                	<th data-class="expand">{{ metadata.idProduccion.label }}</th>
	                                	<th data-class="expand">{{ metadata.idAnimal.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.tipoProduccion.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.fecha.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.valorProduccion.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.numLactancia.label }}</th>
	                                	<th data-hide="phone,tablet">{{ metadata.hora.label }}</th>
	                                    <th data-hide="phone,tablet">Acciones</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let produccion of produccionList" (click)="onSelectedProduccion(produccion)">
	                            		<td>{{produccion.produccionPK.idProduccion}}</td>	
	                            		<td>{{produccion.produccionPK.idAnimal}}</td>	
	                                	<td>{{produccion.idProduccion}}</td>
	                                    <td>{{produccion.tipoProduccion}}</td>
	                                    <td>{{produccion.fecha}}</td>
	                                    <td>{{produccion.valorProduccion}}</td>
	                                    <td>{{produccion.numLactancia}}</td>
	                                    <td>{{produccion.hora}}</td>
	                                    <td>
	                                        <produccion-form-modal  [produccion]='produccion'></produccion-form-modal>

	                                        <confirmation-modal *ngIf='modalDeleteMessage' 
	                                                            [msg]='modalDeleteMessage' 
	                                                            [data]='produccion'
	                                                            (resp)="getConfirmationResponse($event);">
	                                        </confirmation-modal>
										</td> 
	                                </tr>
	                            </tbody>
	                        </sa-datatable>
	                        
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

